    <section class="container pb-6 sm:pb-10">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-6">
        
        <div class="relative rounded-lg overflow-hidden h-40 md:h-96">
          <img src="assets/images/headphone1.png" alt="Headphone 1" class="w-full h-full object-contain">
          <div class="absolute left-3 top-1/2 -translate-y-1/2 text-[var(--text-secondary)] text-left max-w-[60%]">
            <h2 class="text-base md:text-2xl font-bold mb-1">{{ 'section.title' | translate }}</h2>
            <p class="text-sm md:text-lg mb-1">{{ 'section.desc' | translate }}</p>
            <button class="text-[var(--text-secondary)] font-medium hover:opacity-80 transition text-xs md:text-base">
              {{ 'section.shopNow' | translate }}
            </button>
          </div>
        </div>

        <div class="relative rounded-lg overflow-hidden h-40 md:h-96">
          <img src="assets/images/headphone2.png" alt="Headphone 2" class="w-full h-full object-contain">
          <div class="absolute left-3 top-1/2 -translate-y-1/2 text-[var(--text-secondary)] text-left max-w-[60%]">
            <h2 class="text-base md:text-2xl font-bold mb-1">{{ 'section.title' | translate }}</h2>
            <p class="text-sm md:text-lg mb-1">{{ 'section.desc' | translate }}</p>
            <button class="text-[var(--text-secondary)] font-medium hover:opacity-80 transition text-xs md:text-base">
              {{ 'section.shopNow' | translate }}
            </button>
          </div>
        </div>

      </div>
    </section>
 