<section class="container py-10 px-4">
  <div class="max-w-6xl mx-auto">
    <div class="flex flex-col gap-8 md:grid md:grid-cols-3" role="list">
      <div *ngFor="let feature of features"
           class="w-full p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow bg-[var(--surface-color)] text-[var(--text-primary)]"
           tabindex="0" role="listitem" [attr.aria-label]="feature.title | translate"
>
        
        <div class="flex items-center rtl:flex-row-reverse gap-4">
          <div class="flex-1 text-start">
            <h3 class="text-lg font-semibold mb-1">
              {{ feature.title | translate }}
            </h3>
            <p class="text-[var(--text-secondary)]">{{ feature.description | translate }}</p>
          </div>
          
          <div class="w-12 h-12 bg-[var(--primary-color)] rounded-full flex items-center justify-center flex-shrink-0" aria-hidden="true">
            <mat-icon class="text-white">{{ feature.icon }}</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
