<section class="bg-[var(--gray-300)]">
  <div class="products-section max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mb-6">
      <h2 class="text-2xl font-bold text-primary">
        {{ 'home.featured_products' | translate }}
      </h2>
       
      <button
        class="bg-primary text-white py-2 px-4 rounded hover:bg-primary-dark transition text-sm cursor-pointer self-start sm:self-auto"
        (click)="onViewMore()"
      >
        {{ 'home.view_more' | translate }}
      </button>
    </div>
     
    @if (products.length > 0) {
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
        <app-product-card
          *ngFor="let product of products"
          [imageUrl]="product.thumbnail"
          [id]="product.id"
          [category]="product.category"
          [title]="product.title"
          [description]="product.description"
          [price]="product.price"
          [oldPrice]="product.oldPrice ?? 0"
          [discount]="product.discountPercentage"
          [isNew]="product.isNew ?? false"
        ></app-product-card>
      </div>
    } @else {
      <div class="text-center py-8 text-[var(--text-secondary)]">
        <p>{{ 'home.noFeaturedProducts' | translate }}</p>
      </div>
    }
  </div>
</section>